.register .register_area{
    margin-left: 400px;
}
.register .register_area input[type="text"]{
    margin-top: 30px;
    height: 30px;
    width: 300px;
}
.register .register_area input:last-child{
    margin-left: 100px;
    margin-top: 30px;
    height: 40px;
    width: 200px;
    background-color: #00A7F6;
    border-color: #00A7F6;
    color: white;
    font-size: 18px;
}